
<ul class="media-list">
  {% for document in documents %}
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="{{ thumbUrl(document, parameter('dms.content.image_size')) }}" />
    </a>
    <div class="media-body">
      <h4 class="media-heading">{{ document.name }}</h4>
    </div>
  </li>
  {% endfor %}
</ul>
