<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    {% for document in documents %}
      <li data-target="#myCarousel" data-slide-to="{{ loop.index }}" {% if loop.first %}%class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Carousel items -->
  <div class="carousel-inner">
    {% for document in documents %}
        <div class="item{% if loop.first %} active{% endif %}">
          <img src="{{ thumbUrl(document, parameter('dms.showcase.image_size')) }}" />
          <div class="carousel-caption">
              <h4>{{ document.name }}</h4>
          </div>
        </div>
    {% endfor %}
  </div>

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
