<table class="table table-striped table-hover">
{% for document in documents %}
  <tr>
    <td >
      <a href="" class="thumbnail" title="{{ document.name }}">
          <img src="{{ thumbUrl(document, parameter('dms.table.image_size')) }}" />
      </a>
    </td>
    <td>{{ document.name }}</td>
    <td></td>
    <td>{{ document.mimeType }}</td>
  </tr>

{% endfor %}
</table>
