{% if node is defined %}
  <h2><i class="icon-folder-open-alt"></i> {{ node.name }}</h2>
{% else %}
  <h2>Home</h2>
{% endif %}
<ul class="nav nav-tabs nav-stacked">
  {% for node in nodes %}

      <li><a href="{{ path('erichard_dms_node_list', {'node' : node.slug})}}"><i class="icon-folder-close-alt"></i>{{ node.name }}</a></li>
  {% endfor %}
</ul>

<hr>
