{% extends 'ErichardDmsBundle::layout.html.twig' %}

{% block body %}
<div class="row-fluid">
    <div class="span3">
        <ul class="nav nav-pills nav-stacked">
        {% for node in nodes %}
            <li><a href="{{ path('erichard_dms_node_list', {'node' : node.name})}}">{{ node.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="span9">

    </div>
</div>
{% endblock %}
