{% extends 'ErichardDmsBundle::layout.html.twig' %}

{% block workspace %}

    <h1>{{ document.name}}</h1>

    <div class="row-fluid">
        <div class="span8">
            {% set image = path(
            'erichard_dms_media_show', {
              'dimension' : parameter('dms.show.image_size'),
              'path' : document.filename
            })
            %}
            <img class="img-polaroid" src="{{ image }}" alt="{{ document.name }}">
        </div>

        <div class="span4">
            <div class="well">

            <ul class="nav nav-list">
                <li class="nav-header">Actions</li>
                {% if is_granted('DOCUMENT_DOWNLOAD', document) %}
                <li><a href=""><i class="icon-download-alt"></i>Download</a></li>
                {% endif %}
                {% if is_granted('DOCUMENT_EDIT', document) %}
                <li><a href=""><i class="icon-edit"></i>Edit</a></li>
                {% endif %}
                {% if is_granted('DOCUMENT_DELETE', document) %}
                <li><a href=""><i class="icon-trash"></i>Delete</a></li>
                {% endif %}
                <li class="nav-header">Partage</li>
                <li><a href=""><i class="icon-envelope"></i>Email</a></li>
                <li><a href=""><i class="icon-external-link"></i>Link</a></li>
            </ul>
            </div>
        </div>
    </div>

    <h3>Description</h3>
    <div class="well">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus incidunt fugiat provident quidem at vel perferendis exercitationem possimus assumenda saepe. Repellendus odit ea odio explicabo nesciunt perferendis ex alias nisi?
    </div>


{% endblock %}
